* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
  font-family: "Poppins";
  width: auto;
}

body {
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}

.container {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: white;
  mix-blend-mode: exclusion;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.container .content p {
  font-size: 1.3rem;
  width: 40vw;
}

.container .content h1 {
  margin-right: 60px;
  font-size: 4rem;
  line-height: 95%;
  width: 50vw;
  text-align: right;
}

.container .content span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.container .content h1,
.container .content p {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  mix-blend-mode: difference;
  z-index: 0;
}

.container .scroll {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes mymove {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition-duration: 0.02s;
            transition-duration: 0.02s;
  }
  to {
    -webkit-transition-duration: 0.02s;
            transition-duration: 0.02s;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes mymove {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition-duration: 0.02s;
            transition-duration: 0.02s;
  }
  to {
    -webkit-transition-duration: 0.02s;
            transition-duration: 0.02s;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.container .scroll span {
  -webkit-animation: mymove 2s infinite;
          animation: mymove 2s infinite;
  width: 2px;
  height: 100px;
  display: block;
  background-color: white;
}

section {
  height: 100vh;
  position: relative;
}

section .webgl1 {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  background-color: #bfbfbe;
}

.h2 {
  font-size: 6rem;
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: white !important;
  z-index: 999;
}

.h2 p {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  body .container .content h1 {
    font-size: 2rem;
  }
  body .container .content p {
    font-size: 0.8rem;
  }
  body .h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 414px) {
  body .container .content {
    gap: 0rem;
  }
  body .container .content h1 {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=style.css.map */